.page-header {
  min-height: 878px;
  padding-top: 33px;
  padding-bottom: 30px;

  background-image: url("../img/header-bg-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #1b2d37;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/header-bg-desktop@2x.jpg");
    background-size: 1920px auto;
  }
}

.page-header__wrapper {
  position: relative;

  @include wrapper;

  min-height: 815px;
}

.page-header__bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 3px;
  margin-bottom: 230px;
}

.page-header__mail {
  position: relative;

  margin-left: auto;
  margin-right: 88px;
  padding-left: 39px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  &::before {
    content: "";

    position: absolute;
    top: 2px;
    left: 0;

    width: 19px;
    height: 14px;

    background-image: url("../img/icon-envelope.svg");
    background-repeat: no-repeat;
  }
}

.page-header__phone {
  position: relative;

  padding-left: 34px;
  margin-right: 49px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 18px;

    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
  }
}

.page-header__phone:hover,
.page-header__mail:hover {
  opacity: 0.8;
}

.page-header__phone:hover span,
.page-header__mail:hover span {
  border-bottom: 1px dotted #ffffff;
}

.page-header__phone:active,
.page-header__mail:active {
  opacity: 0.5;
}

.page-header__call-request {
  min-width: 180px;
  padding: 14px 12px 13px;

  font-family: $font-family-secondary;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;

  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: #000000;
  }

  &:active {
    opacity: 0.7;
  }
}

.page-header__title {
  margin: 0;
  margin-left: -4px;
  margin-bottom: 27px;

  font-family: $font-family-secondary;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
}

.page-header__description {
  position: relative;

  margin: 0;
  width: 720px;
  padding-left: 94px;
  margin-bottom: 44px;

  font-size: 22px;
  line-height: 34px;
  color: #ffffff;

  &::before {
    content: "";

    position: absolute;
    top: 17px;
    left: 0;

    width: 66px;
    height: 2px;

    background-color: #ffffff;
  }
}

.page-header__consultation {
  display: inline-block;
  min-width: 407px;
  padding: 17px 12px 19px;
  margin-left: 94px;

  font-family: $font-family-secondary;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;

  background-color: #00b2ff;
  border-radius: 5px;

  &:hover {
    background-color: #0095d6;
    color: #eeeeee;
  }

  &:active {
    opacity: 0.5;
  }
}

.consultation-contain--mobile {
  display: none;
}

.page-header__scroll {
  position: absolute;
  bottom: 97px;
  left: -9px;

  display: block;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  transform: rotate(-90deg);
  opacity: 0.5;
}

@media (max-width: 1023px) {
  .page-header {
    min-height: 686px;
    padding-top: 20px;
    padding-bottom: 20px;

    background-image: url("../img/header-bg-tablet@1x.jpg");
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/header-bg-tablet@2x.jpg");
    }
  }

  .page-header__wrapper {
    min-height: 646px;
  }

  .page-header__bar {
    align-items: flex-start;
    padding-right: 0;
    margin-bottom: 116px;
  }

  .page-header__mail span,
  .page-header__phone span {
    display: none;
  }

  .page-header__mail {
    width: 26px;
    height: 19px;
    padding: 0;
    margin-top: 15px;
    margin-right: 33px;

    &::before {
      top: 0;

      width: 26px;
      height: 19px;

      background-size: contain;
    }
  }

  .page-header__phone {
    width: 24px;
    height: 24px;
    padding: 0;
    margin-right: -1px;
    margin-top: 12px;

    &::before {
      width: 24px;
      height: 24px;

      background-size: contain;
    }
  }

  .page-header__call-request {
    display: none;
  }

  .page-header__title {
    width: 60%;
    margin-left: 63px;
    margin-bottom: 29px;

    font-size: 60px;
    line-height: 70px;
  }

  .page-header__description {
    width: 500px;
    padding-left: 114px;
    margin-bottom: 55px;

    font-size: 18px;
    line-height: 28px;

    &::before {
      left: 66px;
      top: 16px;

      width: 33px;
    }
  }

  .page-header__consultation {
    min-width: 379px;
    margin-left: 114px;
  }

  .page-header__scroll {
    display: none;
  }
}

@media (max-width: 767px) {
  .page-header {
    min-height: 646px;
    padding-top: 17px;
    padding-bottom: 17px;

    background-image: url("../img/header-bg-mobile@1x.jpg");
    background-size: 320px auto;
    background-position: top right;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/header-bg-mobile@2x.jpg");
    }
  }

  .page-header__wrapper {
    min-height: 613px;
  }

  .page-header__bar {
    padding-left: 2px;
    margin-bottom: 231px;
  }

  .page-header__mail {
    margin-top: 8px;
    margin-right: 24px;
  }

  .page-header__phone {
    margin-right: 0;
    margin-top: 5px;
  }

  .page-header__title {
    width: 85%;
    margin-left: 0;
    margin-bottom: 27px;

    font-size: 40px;
    line-height: 47px;
  }

  .page-header__description {
    width: 100%;
    max-width: 500px;
    padding-left: 50px;
    margin-bottom: 43px;

    font-size: 16px;
    line-height: 156.8%;

    &::before {
      left: 3px;
      top: 15px;
    }
  }

  .page-header__consultation {
    display: block;
    margin: 0 auto;
    min-width: 287px;
    max-width: 300px;
  }

  .consultation-contain--desktop {
    display: none;
  }

  .consultation-contain--mobile {
    display: inline;
  }
}
