.social__list {
  margin: 0;
  padding: 0;

  display: flex;

  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 15px;
}

.social__link {
  display: block;
  width: 27px;
  height: 27px;
}

.social__link:hover {
  opacity: 0.8;
}

.social__link:active {
  opacity: 0.5;
}
