@mixin wrapper {
  max-width: 1474px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;

  @media (max-width: 1023px) {
    padding-left: 3.3%;
    padding-right: 3.3%;
  }

  @media (max-width: 767px) {
    padding-left: 4.7%;
    padding-right: 4.7%;
    min-width: 320px;
  }
}
