@mixin wrapper {
  max-width: 1474px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;

  // @media (min-width: $tablet-width) {
  //   min-width: 768px;
  //   padding-left: 3.9%;
  //   padding-right: 3.9%;
  // }

  // @media (min-width: $desktop-width) {
  //   width: 1300px;
  //   padding-left: 40px;
  //   padding-right: 40px;
  // }
}
